<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Currency Calculator</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <form method="POST" action="/">
        <h1>Currency calculator</h1>
        <label class="label_code" for="code">Choose a currency code: </label>
        <select name="code" id="code">
          {% for item in items %}
          <option value="{{item}}">{{item}}</option>
          {% endfor %}
        </select>
        <p>
          <label class="label_result" for="result">
            The amount of the selected currency:
          </label>
          <input
            class="calculatorForm__input"
            placeholder="enter value"
            value=""
            type="number"
            name="amount"
          />
        </p>
        <p>
          <button class="convert_button" type="submit">Convert currency</button>
        </p>

        <p id="result">
          {% if result %}
          <label class="label_result" for="result">Result: {{result}} </label>
          {% endif %}
        </p>
      </form>
    </div>
  </body>
</html>
